/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, header, aside, nav, figure, section, footer, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-size: 100%;
  vertical-align: baseline;*/

}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/
header{
  width: 1000px;height: 100px;
  background: #db1529;
}
.logo{
  width: 100px;height: 100px;
  margin-left: 30px;
}
nav{
  width: 1000px;height: 49px;
  background: #454545;float: left;
}
nav ul{
  padding: 0;margin: 0;
  list-style: none;
}
nav ul li{
  float: left;position: relative;
}
nav ul li a{
  display: block;width: 120px;
  height: 35px;text-align: center;
  color: #eee;text-decoration: none;
  font: 14px tahoma;padding-top: 14px;
}
nav ul li a:hover{
  background: #222;
}
.left{
  width: 295px;height: 500px;
  float: left;background: #eee;
  margin: 10px 10px 0 0;
}
main{
width: 695px;height: 500px;
float: left;background: #eee;
position: relative;margin-top: 10px;
}
.bottom{
width: 1000px;height: 150px;
background: #eee;float: left;
margin: 10px 0;
}
footer{
width: 1000px;height: 100px;
background: #454545;float: left;
}
.footerarticle{
margin: 40px auto;width: 200px;
text-align: center;color: #ccc;
font: 14px tahoma;
}
picture{
  float: right;
  margin-top: 10px;margin-right: 10px;
}
.headerarticle{
  float: right;margin-top: 20px;
  margin-right: 350px;font: 50px tahoma;
  color: #eee;
}
